*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1920px;
    height: auto;
    margin: 0;
    padding: 0;
background: #F0F0F0;


}
.nav{
  width: 1920px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    padding: 0 100px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    gap: 601px;
}
.logo{
    width: 40px;
    height: auto;
}
.nav-div{
    display: flex;
    align-items: center;
    gap: 70px;
    width: auto;
        background: #FFF;
}
.big-div{
width: 345px;
height: 1658px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 50px 20px;
    background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.watch-big-div{
    width: 345px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  padding-left: 20px;
   padding-top: 100px;
   padding-bottom: 70px;
       background: #FFF;
   
}
.comp1-big-div{
    width: 345px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  padding-left: 20px;
      background: #FFF;

   
}
.middel-comp{
    width: 1088px;
    height: auto;
   gap: 40px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 30px 20px;
}
.cards-big-div{
    width: 1088px;
    height: 380px;
   border-radius: 7px;
background: #FFF;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 20px;
padding: 20px;
}
.comp2-big-div{
     width: 1088px;
    height: 184px;
   border-radius: 7px;
background: #FFF;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20px;
padding: 30px 20px;
}
main{
    display: flex;
    gap: 20px;
}